@page
@model Mission09_jhuish88.Pages.OrderCompletedModel
@{
}

<div class="text-center">
    <h2>Your order has been submitted</h2>

    <a class="btn-primary" asp-controller="Home" style="padding:5px 5px 5px 5px">Return Home</a>
</div>